import(RCurl)
importFrom(XML, xmlRoot, xmlTreeParse, xmlSApply, xmlValue)

importFrom("grDevices", "dev.off", "pdf")
importFrom("graphics", "abline", "lines", "plot")
importFrom("stats", "approx", "median", "sd")
importFrom("utils", "read.csv", "read.delim", "write.csv", "write.table")

exportPattern("^[^\\.]")